<?xml version="1.0" encoding="UTF-8"?>

<server backgroundTasksPeriod="5000" backgroundStartDelay="50" portName="Tortuga" portNumber="2002">
    <port name="Tortuga">
        <pier>
            <warehouse capacity="120"/>
        </pier>
        <pier>
            <warehouse capacity="150"/>
        </pier>
    </port>
</server>
